<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap=".5rem" class="cart-item">
    <img src={{item.imagePath}} fxFlexAlign="center" class="cart-item--img">
    <section fxLayout="column" fxLayoutAlign="center center">
        <h4>{{item.name}}  ({{item.quantity}})</h4>
        <p>{{item.description}}</p>
    </section>
    <button mat-icon-button matTooltip="Remove item from cart" fxFlexAlign="center" (click)="removeItemFromCart(item)"><mat-icon>delete_outline</mat-icon></button>
</div>

